# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore virtual environments
.venv/
env/
.env

# Ignore IDE and cache
.idea/
.cache/
*.pyc
__pycache__/

# Ignore Screenshots directory
ScreenShots/

# Ignore docs directory
docs/